<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./styles/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class='formContainer'>
            <form action="/" method="post">
                nombre : <input type="text" name="nombre"><br>
                precio: <input type="text" name="precio"><br>
                thumbnail : <input type="text" name="thumbnail"><br>
                <button type="submit">Agregar!</button>
            </form>
        </div>
        <div>
            <%if(list.length==0){%>
                <h2>
                    no hay libros
                </h2>
            <%} else{%>
                <table>
                    <tr>
                        <th>nombre</th>
                        <th>precio</th>
                        <th>thumbnail</th>
                    </tr>
                    <% list.forEach((element) => {%>
                        <tr>
                            <td><%=element.nombre%></td>
                            <td><%=element.precio%></td>
                            <td><%=element.thumbnail%></td>
                        </tr>
                    <%})%>
                </table>
            <%}%>
        </div>
        <script src="./js/app.js" type="text/javascript"></script>
    </body>
</html>