<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action="/api/productos" method="post">
            nombre : <input type="text" name="nombre"><br>
            precio: <input type="text" name="precio"><br>
            thumbnail : <input type="text" name="thumbnail"><br>
            <button type="submit">Agregar!</button>
            <a href="/list"><button>Mostrar todo!</button></a>
        </form>
        <%if(list.length==0){%>
            <h2>
                no hay libros
            </h2>
        <%} else{%>
            <table>
                <tr>
                    <th>nombre</th>
                    <th>precio</th>
                    <th>thumbnail</th>
                </tr>
                <% list.forEach((element) => {%>
                    <tr>
                        <td><%=element.nombre%></td>
                        <td><%=element.precio%></td>
                        <td><%=element.thumbnail%></td>
                    </tr>
                <%})%>
            </table>
        <%}%>
        <a href="/"><button>inicio!</button></a>

        <script href='./socket.io/socket.io.js' ></script>
        <script href='./js/app.js'></script>
    </body>
</html>